<div id="gallery">
      <h2>All Images</h2>
        <div class="row">
          <div class="col-lg-3 custome-width">
            <div class="photo photo-type-line">
              <a href="img/i1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i1.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i1.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i2.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i2.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i3.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i3.jpeg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i4.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i4.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i5.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i5.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i6.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i6.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i7.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i7.jpeg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i8.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i8.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i1.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i1.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum" >
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i1.jpeg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i4.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i1.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i1.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i3.jpeg" alt=""></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="photo photo-type-line">
              <a href="img/i1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
                <div class="photo-info">
                  <div class="headline">
                    Lorem Ipsum
                  </div>
                  <div class="line"></div>
                  <div class="description">
                    Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Quidem earum minus, non illo, ratione eaque ad explicabo quo.
                  </div>
                  <div class="mask">
                    
                  </div>
                </div>
              </a>
              <div class="photo-img"><img src="img/i4.jpeg" alt=""></div>
            </div>
          </div>
        </div>
      </div>